{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": [0, "error", "windows"],
    "semi": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": [2, "always"],
    "operator-linebreak": "off",
    "max-len": ["error", { "code": 120 }]
  },
   "extends": ["eslint:recommended", "google"]
}