Webpack (модули)
  Babel
  SCSS + BEM
  ESLint
  2 modes
    - Dev mode
      Dev server, SourrceMaps, ESLint, Not Minified JS & CSS
    - Prod mode
      Minified Code
Git

  Production
    1.0.0
    0 ----------
  Development
    1.0.2
    1 --------------    PR+
    2 ----------------- |
